.macos-statusbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 1.5rem;
    background-color: rgba(245, 245, 247, 0.8); /* Light grey with 80% opacity */
    font-size: 0.8rem;
    font-weight: 700;
  }
  
  .macos-statusbar .left-section {
    display: flex;
    margin-right: 0.8rem;
    overflow: hidden;
  }

  .macos-statusbar .left-section,
  .macos-statusbar .right-section {
    display: flex;
    align-items: center;
  }
  
  .macos-statusbar .menu-item {
    flex-shrink: 0;
    margin: 0 0.5rem;
    color: #000;
    cursor: pointer;
  }
  
  .macos-statusbar .apple-logo {
    margin-right: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .macos-statusbar .right-section .menu-item {
    color: #000;
  }
  
  .macos-statusbar .right-section .menu-item i {
    margin-right: 0.1rem;
    font-size: 0.8rem;
  }
  
  .menu-item-player {
    display: grid;
    margin-right: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
  }

  .menu-item-player span {
    display: flex;
    flex-basis: 1rem; /* 버튼의 기본 크기 */
    min-width: 1rem; /* 일정한 크기 유지 */
    max-width: 1rem; /* 일정한 크기 유지 */
    cursor: pointer;
  }

.volume-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.volume-modal {
  padding: 20px;
  width: 300px;
  background: white;
  text-align: center;
  border-radius: 10px;
}

.volume-slider {
  margin: 20px 0;
  width: 100%;
}

.close-button {
  padding: 8px 16px;
  border: none;
  background-color: #007aff;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.close-button:hover {
  background-color: #005bb5;
}


/* 작은 화면에서 대응 */
@media (max-width: 600px) {
  .macos-statusbar {
    padding: 0 5px;
  }
  
  .macos-statusbar .right-section {
    margin-right: 1rem;
  }

  .menu-item-player span {
    flex-basis: 0.5rem;
    min-width: 0.5rem; /* 작은 화면에서 크기 줄이기 */
    max-width: 0.5rem;
    font-size: 0.7rem;
  }

  .macos-statusbar .menu-item {
    font-size: 0.7rem;
  }
}