.dock-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  position: relative;
  width: 4rem; /* 기본 너비를 4rem로 설정 */
  transition: transform 0.3s ease;
  cursor: pointer;
  aspect-ratio: 1 / 1; /* 항상 정사각형 비율 유지 */
}


.dock-item:hover {
  transform: scale(1.1);
}

.dock-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dock-item.hidden {
  display: none; /* 숨겨진 상태일 때 DockItem을 표시하지 않음 */
}

.dock-launchpad,
.launchpad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  aspect-ratio: 1/1;
}

.active-indicator {
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease, background-color 0.3s ease;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
}


.minimized-container {
  width: 6rem;
  height: 4rem;
  background-image: url('../../public/imgs/minimize.JPG');
  background-size: cover;
  border-radius: 0.5rem;
}

.minimized-container i,
.dock-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.minimized-container:hover,
.dock-item:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .dock-item {
    width: 3.5rem; /* 미디어 쿼리에서 너비를 3rem으로 변경 */
  }
}