/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'MacSystemFont';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/imgs/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: -apple-system, MacSystemFont, Arial, sans-serif;
}

a {
  color: inherit; /* 부모 요소의 색상 상속 */
  text-decoration: none; /* 링크 밑줄 제거 */
}

/* 헤더 스타일 */
header {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

header h1 {
  margin-bottom: 20px;
  font-size: 3em;
}

header p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #555;
}